.App {
  text-align: center;
  padding-top: 16%;
  background-color: #1fe3ed;
  width: 100vw;
  height: 100vh;
}


.hstyle{
  font-size: 4em;
  color: red;
  font-family: 'Courier New', Courier, monospace;
}


.btncontain {
  justify-content: space-between;
}

.myButton {
	background-color:#f24537;
	border-radius:21px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	font-weight:bold;
	padding:7px 26px;
	text-decoration:none;
  margin-right: 10px;
  
}
.myButton:hover {
	background-color:#c62d1f;
}
.myButton:active {
	position:relative;
	top:1px;
}


